<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" version="19.0" />
  <package id="7zip.install" version="19.0" />
  <package id="AdoptOpenJDKjre" version="14.0.2.13" />
  <package id="atom" version="1.49.0" />
  <package id="audacity" version="2.4.2" />
  <package id="autohotkey.install" version="1.1.33.02" />
  <package id="autohotkey.portable" version="1.1.33.02" />
  <package id="bandizip" version="7.08" />
  <package id="blender" version="2.83.2" />
  <package id="burp-suite-free-edition" version="2020.5.1" />
  <package id="calibre" version="4.21.0" />
  <package id="ccleaner" version="5.69.7865" />
  <package id="charles4" version="4.5.6" />
  <package id="choco-cleaner" version="0.0.7.2" />
  <package id="chocolatey" version="0.10.15" />
  <package id="chocolatey-core.extension" version="1.3.5.1" />
  <package id="chocolatey-misc-helpers.extension" version="0.0.3.1" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.4" />
  <package id="chocolateygui" version="0.17.2" />
  <package id="composer" version="5.1.0.20200713" />
  <package id="cuda" version="11.0.2" />
  <package id="cutter" version="1.10.3" />
  <package id="dart-sdk" version="2.8.4" />
  <package id="dbeaver" version="7.1.3" />
  <package id="docker-toolbox" version="19.03.1" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="dotnetcore" version="3.1.6" />
  <package id="dotnetcore-runtime" version="3.1.6" />
  <package id="enpass.install" version="6.4.2.669" />
  <package id="ffmpeg" version="4.3.0.20200630" />
  <package id="filezilla" version="3.49.1" />
  <package id="flutter" version="1.17.5" />
  <package id="ghidra" version="9.1.1" />
  <package id="git" version="2.27.0" />
  <package id="git.install" version="2.27.0" />
  <package id="golang" version="1.14.6" />
  <package id="GoogleChrome" version="84.0.4147.89" />
  <package id="gpg4win" version="3.1.11" />
  <package id="gradle" version="6.5.1" />
  <package id="hg" version="5.3.2" />
  <package id="ImDisk-Toolkit" version="20.06.09.20200714" />
  <package id="iTunes" version="12.10.7.3" />
  <package id="jetbrainstoolbox" version="1.17.7139" />
  <package id="k-litecodecpackfull" version="15.6.0" />
  <package id="KB2533623" version="1.0.4" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="kubernetes-cli" version="1.18.6" />
  <package id="LinkShellExtension" version="3.9.3.3" />
  <package id="madvr" version="0.92.17" />
  <package id="maven" version="3.6.3" />
  <package id="mediainfo" version="20.03" />
  <package id="memurai-developer" version="2.0.1" />
  <package id="memurai-developer.install" version="2.0.1" />
  <package id="mkvtoolnix" version="48.0.0" />
  <package id="mpc-be" version="1.5.4.4969" />
  <package id="mysql" version="8.0.21" />
  <package id="nasm" version="2.14.02" />
  <package id="nmap" version="7.80" />
  <package id="nodejs" version="14.6.0" />
  <package id="nodejs.install" version="14.6.0" />
  <package id="nvidia-display-driver" version="451.67" />
  <package id="obs-studio" version="25.0.8" />
  <package id="obs-studio.install" version="25.0.8" />
  <package id="octave" version="5.2.0.102" />
  <package id="octave.install" version="5.2.0.102" />
  <package id="OpenCV" version="4.1.2" />
  <package id="openjdk11" version="11.0.8.10" />
  <package id="openjdk13" version="13.0.102" />
  <package id="openssl" version="1.1.1.700" />
  <package id="php" version="7.4.7" />
  <package id="postgresql" version="12.3.1.20200703" />
  <package id="postgresql12" version="12.3.1.20200703" />
  <package id="postman" version="7.27.1" />
  <package id="potplayer" version="20.06.16" />
  <package id="powertoys" version="0.19.2" />
  <package id="pstools" version="1.2012.04.12" />
  <package id="putty" version="0.74" />
  <package id="putty.portable" version="0.74" />
  <package id="qbittorrent-enhanced" version="4.2.5.12" />
  <package id="Qemu" version="2020.06.12" />
  <package id="ruby" version="2.7.1.1" />
  <package id="rust" version="1.45.0" />
  <package id="sandboxie" version="5.40.1.20200413" />
  <package id="sandboxie.install" version="5.40.1.20200413" />
  <package id="SQLite" version="3.32.3" />
  <package id="steam" version="3.0.1.20190215" />
  <package id="telegram" version="2.1.13" />
  <package id="telegram.install" version="2.1.13" />
  <package id="terminus" version="1.0.113" />
  <package id="texstudio" version="2.12.22" />
  <package id="texstudio.install" version="2.12.22" />
  <package id="typora" version="0.9.89" />
  <package id="universal-ctags" version="2020.07.18" />
  <package id="vcredist140" version="14.26.28720.3" />
  <package id="vcredist2008" version="9.0.30729.6163" />
  <package id="vcredist2010" version="10.0.40219.2" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="vcredist2017" version="14.16.27033" />
  <package id="veracrypt" version="1.24.20200419" />
  <package id="virtualbox" version="6.1.12" />
  <package id="vmwareworkstation" version="15.5.6.16341506" />
  <package id="vscode" version="1.47.2" />
  <package id="vscode.install" version="1.47.2" />
  <package id="win32diskimager" version="1.0.0.20181220" />
  <package id="win32diskimager.install" version="1.0.0.20181220" />
  <package id="wireshark" version="3.2.5" />
  <package id="xnviewmp" version="0.96.4" />
  <package id="xnviewmp.install" version="0.96.4" />
  <package id="yarn" version="1.22.4" />
  <package id="yed" version="3.20" />
  <package id="youtube-dl" version="2020.06.16.1" />
  <package id="zerotier-one" version="1.4.6" />
  <package id="zoom" version="5.1.28656.0709" />
</packages>