aenum==3.1.0
aggdraw==1.3.12
aiohttp==3.7.4.post0
Airshare==0.1.6
allzpark==1.3.129
allzparkdemo==1.0.23
altgraph==0.17
aniso8601==9.0.1
anytree==2.8.0
apipkg==1.5
apkid==2.1.2
argon2-cffi==20.1.0
asgiref==3.4.1
asn1crypto==1.4.0
astor==0.8.1
astroid==2.6.6
async-generator==1.10
async-timeout==3.0.1
asyncio==3.4.3
atomicwrites==1.4.0
attrs==20.3.0
Automat==20.2.0
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
base58==2.1.0
bcrypt==3.2.0
beancount==2.3.4
beautifulsoup4==4.9.3
bitarray==1.2.2
bitstring==3.1.9
bleach==4.0.0
bleeding-rez==2.40.5
blessings==1.7
blind-watermark==0.1.1
blinker==1.4
bottle==0.12.19
bpython==0.21
Brotli==1.0.9
cachetools==4.2.2
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==7.1.2
colorama==0.4.4
colorclass==2.2.0
concur==0.10.0
concur-imgui==1.3.9
constantly==15.1.0
coverage==5.5
cqc==3.2.3
cryptography==3.4.7
cssselect2==0.4.1
curtsies==0.3.5
cwcwidth==0.1.4
cycler==0.10.0
Cython==0.29.24
cytoolz==0.11.0
daemons==1.3.2
debtcollector==2.2.0
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
Deprecated==1.2.12
dill==0.3.4
Django==3.2.6
dlx==1.0.4
dnspython==2.1.0
docopt==0.6.2
docplex==2.21.207
dogpile.cache==1.1.3
dominate==2.6.0
easygui==0.98.2
entrypoints==0.3
et-xmlfile==1.1.0
eth-abi==2.1.1
eth-account==0.5.5
eth-hash==0.3.1
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
execnet==1.9.0
exit==2020.12.3
fastdtw==0.3.4
fastjsonschema==2.15.1
filelock==3.0.12
flake8==3.9.2
Flask==2.0.1
Flask-Bootstrap==3.3.7.1
Flask-RESTful==0.3.9
fonttools==4.26.2
frida==15.0.13
frida-tools==10.2.1
funcsigs==1.0.2
future==0.18.2
gevent==21.8.0
glfw==2.1.0
google-api-core==1.31.1
google-api-python-client==2.15.0
google-auth==1.34.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
greenlet==1.1.1
h11==0.9.0
h2==4.0.0
h5py==3.2.1
hexbytes==0.2.1
hpack==4.0.0
html5lib==1.1
httpcore==0.11.1
httplib2==0.19.1
httpx==0.15.5
humanize==3.11.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==2.10
ifaddr==0.1.7
image==1.5.33
imageio==2.9.0
imageio-ffmpeg==0.4.4
imgui==1.3.0
immutables==0.16
importlib-metadata==4.6.3
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
ipaddress==1.0.23
ipfshttpclient==0.7.0
ipykernel==6.0.3
ipython==7.26.0
ipython-genutils==0.2.0
iso8601==0.1.16
isort==5.9.3
itsdangerous==2.0.1
jaconv==0.3
jdcal==1.4.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
kaitaistruct==0.9
keystoneauth1==4.3.1
keystonemiddleware==9.3.0
kiwisolver==1.3.1
klepto==0.2.1
lark==0.11.3
lazy-object-proxy==1.6.0
ldap3==2.9.1
llvmlite==0.36.0
LnkParse3==1.2.0
loguru==0.5.3
lru-dict==1.1.7
lxml==4.6.3
MarkupSafe==2.0.1
Mathics-Scanner==1.2.4
Mathics3==4.0.0
matplotlib==3.4.2
matplotlib-inline==0.1.2
mccabe==0.6.1
mistune==0.8.4
mock==4.0.3
monotonic==1.6
more-itertools==8.8.0
mpmath==1.2.1
msgpack==0.6.2
msoffcrypto-tool==4.12.0
multiaddr==0.0.9
multidict==5.1.0
multitasking==0.0.9
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
ncclient==0.6.12
nest-asyncio==1.5.1
netaddr==0.8.0
netifaces==0.11.0
networkx==2.6.2
nlp==0.4.0
nose==1.3.7
notebook==6.4.2
ntlm-auth==1.5.0
numpy==1.21.1
olefile==0.46
oletools==0.60
OpenCC==1.1.1
opencv-python==4.5.3.56
openpyxl==3.0.7
os-service-types==1.7.0
oslo.cache==2.8.1
oslo.config==8.7.1
oslo.context==3.3.0
oslo.i18n==5.0.1
oslo.log==4.6.0
oslo.serialization==4.1.0
oslo.utils==4.9.2
packaging==21.0
palettable==3.3.0
pandas==1.3.1
pandocfilters==1.4.3
paramiko==2.7.2
parsimonious==0.8.1
parso==0.8.2
passlib==1.7.4
pbr==5.6.0
pcodedmp==1.2.6
pdf417as-str==0.4.1
pefile==2021.5.24
pickleshare==0.7.5
Pillow==8.3.1
Pint==0.17
pip-conflict-checker==0.6.0
pluggy==0.13.1
ply==3.11
pox==0.3.0
progressbar==2.5
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
psd-tools==1.9.17
psutil==5.8.0
public==2020.12.3
publicsuffix2==2.20191221
py==1.10.0
py-solc-x==1.1.0
pyang==2.5.0
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.7.1
pycadf==3.1.1
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.1
pycurl==7.43.0.6
pydantic==1.8.2
pydivert==2.1.0
pydyf==0.0.3
pyfiglet==0.8.post1
pyflakes==2.3.1
Pygments==2.9.0
PyHamcrest==2.0.2
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.2
PyJWT==1.7.1
pykakasi==2.2.1
pylint==2.9.6
PyNaCl==1.4.0
PyOpenGL==3.1.5
pyOpenSSL==20.0.1
pyotp==2.6.0
pyparsing==2.4.7
pyperclip==1.8.2
pyphen==0.11.0
pypinyin==0.42.0
pypiwin32==223
pyquil==3.0.0
pyrsistent==0.18.0
pyshark==0.4.3
PySide2==5.15.2
pytest==6.2.4
pytest-forked==1.3.0
pytest-xdist==2.3.0
python-can==3.3.4
python-constraint==1.4.0
python-dateutil==2.8.2
python-keystoneclient==4.2.0
python-magic==0.4.24
python-pcapng==1.0
python-rapidjson==1.4
pytz==2021.1
PyWavelets==1.1.1
pywin32==301
pywin32-ctypes==0.2.0
pywinpty==1.1.3
pyxdg==0.27
PyYAML==5.4.1
pyzbar==0.1.8
pyzmq==19.0.2
qcs-api-client==0.8.0
qiskit==0.29.0
qiskit-aer==0.8.2
qiskit-aqua==0.9.4
qiskit-ibmq-provider==0.16.0
qiskit-ignis==0.6.0
qiskit-terra==0.18.1
qsharp==0.18.2107.153439
qsharp-chemistry==0.18.2107.153439
qsharp-core==0.18.2107.153439
Quandl==3.6.1
requests==2.26.0
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
retry==0.9.2
retrying==1.3.3
retworkx==0.9.0
rez==2.93.3
rfc3339==6.2
rfc3986==1.5.0
rlp==2.0.1
rpcq==3.9.1
rsa==4.7.2
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.6
scapy==2.4.5
scikit-image==0.18.2
scikit-learn==0.24.2
scikit-video==1.1.11
scipy==1.7.1
semantic-version==2.8.5
Send2Trash==1.8.0
shadowsocks==2.8.2
shiboken2==5.15.2
simulaqron==3.0.16
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
sourceinspect==0.0.4
spark-parser==1.8.9
SQLAlchemy==1.4.22
sqlalchemy-migrate==0.13.0
sqlparse==0.4.1
stevedore==3.3.0
Sublist3r==1.0
sympy==1.8
taichi==0.7.26
Tempita==0.5.2
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
threadpoolctl==2.2.0
tifffile==2021.8.8
tinycss2==1.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.62.0
traitlets==5.0.5
tweedledum==1.1.0
Twisted==20.3.0
twisted-iocpsupport==1.0.1
typing-extensions==3.10.0.0
ujson==4.0.2
uncompyle6==3.7.4
uritemplate==3.0.1
urllib3==1.26.6
urwid==2.1.2
varint==1.0.2
visitor==0.1.3
wcwidth==0.2.5
weasyprint==53.0
web3==5.22.0
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.2.0
websockets==9.1
Werkzeug==2.0.1
wfuzz==3.1.0
win-unicode-console==0.5
win32-setctime==1.0.3
wincertstore==0.2
windows-curses==2.2.0
wordcloud==1.8.1
wrapt==1.12.1
wsproto==1.0.0
xdis==5.0.11
xmltodict==0.12.0
xxhash==2.0.2
xxtea==2.0.0.post0
yara-python==4.1.0
yara-python-dex==1.0.1
yarl==1.6.3
yfinance==0.1.62
z3-solver==4.8.12.0
zeroconf==0.34.3
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0
zopfli==0.1.8
zstandard==0.15.2
zwsp-steg-py==0.2.0
zxing==0.13
