absl-py==0.11.0
acora==2.2
adblockparser==0.7
AdvancedHTTPServer==2.2.0
aenum==3.0.0
aiocmd==0.1.5
aioconsole==0.3.1
aiodns==2.0.0
aiohttp==3.7.3
aiomultiprocess==0.8.0
aioredis==1.3.1
aiosqlite==0.16.1
aiowinreg==0.0.4
ajpy==0.0.5
alembic==1.5.4
aniso8601==7.0.0
anyascii==0.1.7
apispec==4.3.0
apispec-webframeworks==0.5.2
appdirs==1.4.4
APScheduler==3.7.0
argon2-cffi==20.1.0
arrow==0.17.0
artifacts==20201106
asciinema==2.0.2
asciitree==0.3.3
asgiref==3.3.1
asn1crypto==1.4.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
asysocks==0.1.0
atomicwrites==1.4.0
attrs==20.3.0
autobahn==21.2.1
Automat==20.2.0
Babel==2.9.0
backcall==0.2.0
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.2.0
beancount==2.3.3
beautifulsoup4==4.9.3
binwalk==2.1.0
bleach==3.3.0
blessings==1.7
blinker==1.4
boltons==20.2.1
boofuzz==0.2.1
bottle==0.12.19
Bottleneck==1.3.2
bpython==0.21
Brotli==1.0.9
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.1
cairocffi==1.2.0
capstone==4.0.2
cbor==1.0.0
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
cheroot==8.5.2
CherryPy==18.6.0
chirp==1.2.2
cli-helpers==2.1.0
cliapp==1.0.9
click==7.1.2
click-plugins==1.1.1
cloudscraper==1.2.56
cmdtest==0.1.1
colorama==0.4.4
configobj==5.0.6
constantly==15.1.0
coverage==5.4
crackmapexec==5.1.1
crc32c==2.2
crcelk==1.3
cryptography==3.3.2
curtsies==0.3.5
cwcwidth==0.1.4
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.11
deprecation==2.1.0
dicttoxml==1.7.4
dill==0.3.3
distlib==0.3.1
distro==1.5.0
Django==3.1.6
dnslib==0.9.14
dnspython==2.0.0
docker==4.4.2
docker-compose==1.28.3
dockerpty==0.4.1
docopt==0.6.2
ecdsa==0.16.1
email-validator==1.1.2
entrypoints==0.3
et-xmlfile==1.0.1
ExifRead==2.3.2
expiringdict==1.2.1
exrex==0.10.5
faraday-plugins==1.4.0
faradaysec==3.14.0
feedparser==6.0.2
fierce==1.4.0
filedepot==0.8.0
filelock==3.0.12
filteralchemy==0.1.0
filteralchemy-fork==0.1.0
fire==0.4.0
flake8==3.8.4
flasgger==0.9.5
Flask==1.1.2
Flask-BabelEx==0.9.4
Flask-Classful==0.14.2
Flask-KVSession-fork==0.6.3
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-RESTful==0.3.8
Flask-Security==3.0.0
Flask-Security-Too==4.0.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
flatbuffers==1.12
future==0.18.2
gast==0.4.0
geoip2==4.1.0
geojson==2.5.0
gevent==21.1.2
gitdb==4.0.5
GitPython==3.1.13
gmpy2==2.0.8
google-api-core==1.26.0
google-api-python-client==1.12.8
google-auth==1.27.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googleapis-common-protos==1.52.0
graphene==2.1.8
graphene-sqlalchemy==2.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==1.0.0
grpcio==1.35.0
gvm-tools==21.1.0
h11==0.12.0
h2==4.0.0
h5py==3.1.0
hashID==3.1.4
hiredis==1.1.0
hpack==4.0.0
html2text==2020.1.16
html5lib==1.1
httpie==2.4.0
httplib2==0.19.0
humanize==3.2.0
hupper==1.10.2
hyperframe==6.0.0
hyperlink==21.0.0
icalendar==4.0.7
idna==2.10
impacket==0.9.22
importlib-metadata==3.4.0
incremental==17.5.0
iniconfig==1.1.1
intervaltree==3.1.0
invoke==1.5.0
ipwhois==1.2.0
IPy==1.1
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
itsdangerous==1.1.0
jaraco.classes==3.2.0
jaraco.collections==3.2.0
jaraco.functools==3.2.0
jaraco.text==3.5.0
jdcal==1.4.1
jedi==0.18.0
Jinja2==2.11.3
Js2Py==0.70
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kaitaistruct==0.9
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
ldap3==2.8.1
ldapdomaindump==0.9.3
loguru==0.5.3
lsassy==2.1.3
lxml==4.6.2
lz4==3.1.3
Mako==1.1.4
Markdown==3.3.3
MarkupSafe==1.1.1
marshmallow==3.10.0
marshmallow-sqlalchemy==0.24.2
matplotlib==3.3.4
maxminddb==2.0.3
mccabe==0.6.1
mechanize==0.4.5
mercurial==5.7
minidump==0.0.13
minikerberos==0.2.9
mistune==0.8.4
mitmproxy==6.0.2
mock==4.0.3
more-itertools==8.7.0
msgpack==1.0.2
msldap==0.3.25
multidict==5.1.0
mysql-connector-python==8.0.23
nassl==4.0.0
nbclient==0.5.2
nbconvert==6.0.7
nbformat==5.1.2
neo4j==4.2.1
neobolt==1.7.17
neotime==1.7.4
nest-asyncio==1.5.1
netaddr==0.8.0
networkx==2.5
nose==1.3.7
notebook==6.2.0
nplusone==1.0.0
ntlm-auth==1.5.0
numexpr==2.7.2
numpy==1.20.1
oauthlib==3.1.0
odfpy==1.4.1
olefile==0.46
opencv-python==4.5.1.48
openpyxl==2.4.11
opt-einsum==3.3.0
ospd==20.8.2
ospd-openvas==20.8.1
packaging==20.9
pandas==1.2.2
pandocfilters==1.4.3
paramiko==2.7.2
parsedatetime==2.6
parso==0.8.1
passlib==1.7.4
Paste==3.5.0
PasteDeploy==2.1.1
PasteScript==3.2.0
pcapy==0.11.4
pefile==2019.4.18
pendulum==2.1.2
pexpect==4.8.0
pgcli==3.1.0
pgspecial==1.12.1
phonenumbers==8.12.18
pickleshare==0.7.5
Pillow==8.1.0
pip-conflict-checker==0.6.0
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.1
pluginbase==1.0.0
ply==3.11
portend==2.7.1
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.16
protobuf==3.14.0
psutil==5.8.0
psycopg2==2.8.6
ptyprocess==0.7.0
publicsuffix2==2.20191221
pwntools==4.3.1
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.2
PyBindGen==0.21.0
pycares==3.1.1
pycodestyle==2.6.0
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.10.1
pycryptodomex==3.10.1
pycryptoplus==0.0.1
pycurl==7.43.0.6
pydot==1.4.2
pyee==8.1.0
pyelftools==0.27
pyflakes==2.2.0
Pygments==2.8.0
PyHamcrest==2.0.2
pyjsparser==2.7.1
PyJWT==2.0.1
pylnk3==0.3.0
PyNaCl==1.4.0
pyOpenSSL==20.0.1
pyotp==2.6.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.1
pypng==0.0.20
pyppeteer==0.2.5
pyproj==3.0.0.post1
pypsrp==0.5.0
pypykatz==0.3.15
PyQRCode==1.2.1
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyqtgraph==0.11.1
pyramid==1.10.5
pyrsistent==0.17.3
pyserial==3.5
pyShodan==0.2.3
pyshp==2.1.3
pysmi==0.3.4
pysnmp==4.4.12
PySocks==1.7.1
pyspnego==0.1.5
pytest==6.2.2
python-can==3.3.4
python-dateutil==2.8.1
python-debian==0.1.39
python-docx==0.8.10
python-dotenv==0.15.0
python-editor==1.0.4
python-gvm==21.1.3
python-magic==0.4.22
python-pam==1.8.4
python-pptx==0.6.18
python-snappy==0.6.0
PyTrie==0.4.0
pytsk3==20200117
pytz==2021.1
pytzdata==2020.1
pywerview==0.3.0
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.0.3
qrcode==6.1
rdflib==5.0.0
records==0.5.3
redis==3.5.3
rekall-lib==1.7.1
repoze.lru==0.7
requests==2.25.1
requests-file==1.5.1
requests-futures==1.0.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
ROPGadget==6.5
Routes==2.5.1
rq==1.7.0
rsa==4.7.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
rule-engine==2.4.1
Rx==1.6.1
scapy==2.4.4
scipy==1.6.1
secure==0.2.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
setproctitle==1.2.2
sgmllib3k==1.0.0
shodan==1.25.0
simplejson==3.17.2
simplekv==0.14.1
singledispatch==3.4.0.3
six==1.15.0
smmap==3.0.5
smoke-zephyr==2.0.1
sortedcontainers==2.3.0
soupsieve==2.2
sourceinspect==0.0.4
SPARQLWrapper==1.8.5
speaklater==1.3
SQLAlchemy==1.3.23
sqlalchemy-schemadisplay==1.3
sqlparse==0.4.1
sslyze==4.0.3
stem==1.8.0
syslog-rfc5424-formatter==1.2.2
tables==3.6.1
tablib==3.0.0
tabulate==0.8.8
taichi==0.7.14
Tempita==0.5.2
tempora==4.0.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.9.2
terminaltables==3.1.0
termineter==1.0.4
testpath==0.4.4
texttable==1.6.3
theHarvester==0.0.1
tld==0.12.5
tldextract==3.1.0
tls-parser==1.2.2
toml==0.10.2
torch==1.7.1
tornado==6.1
tox==3.22.0
tqdm==4.57.0
traitlets==5.0.5
translationstring==1.4
Twisted==20.3.0
txaio==20.12.1
typing-extensions==3.7.4.3
tzlocal==2.1
u-msgpack-python==2.7.1
unicodecsv==0.14.1
unicorn==1.0.2rc3
Unidecode==1.2.0
uritemplate==3.0.1
urllib3==1.26.4
urwid==2.1.2
uvloop==0.15.1
venusian==3.0.0
virtualenv==20.4.2
wafw00f==2.1.0
wapiti3==3.0.3
wcwidth==0.2.5
webargs==7.0.1
webencodings==0.5.1
WebOb==1.8.7
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
wfuzz==3.1.0
whois==0.9.7
widgetsnbextension==3.5.1
win32-setctime==1.0.3
winacl==0.1.0
winsspi==0.0.9
wrapt==1.12.1
wsaccel==0.6.3
wsproto==1.0.0
WTForms==2.3.3
xcffib==0.11.1
xlrd==2.0.1
XlsxWriter==1.3.7
xlwt==1.3.0
xmltodict==0.12.0
yara-python==4.0.4
yarl==1.6.3
yaswfp==0.9.3
zc.lockfile==2.0
zipp==3.4.0
zope.deprecation==4.4.0
zope.event==4.5.0
zope.interface==5.2.0
zstandard==0.14.1
zxing==0.12
