:80 {
    root * /usr/share/caddy
    encode zstd gzip
    file_server
    log {
        output file /data/log/access.log {
            roll_size 10MB
            roll_keep 10
        }
        level INFO
        format json
    }
    # tls /data/cert/tls.ser /data/cert/tls.key
    handle /cloudreve* {
        reverse_proxy http://cloudreve:5212
        rewrite / /cloudreve/
    }
}

:80/wiki {
    reverse_proxy http://dokuwiki:8080
    log {
        output file /data/log/wiki.log {
            roll_size 10MB
            roll_keep 10
        }
        level INFO
        format json
    }
}
